[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Clashic
Comment=Connect to the Bitcoin Clashic P2P Network
Comment[de]=Verbinde mit dem Bitcoin Clashic peer-to-peer Netzwerk
Comment[fr]=Bitcoin Clashic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin Clashic, eşten eşe kriptografik sanal para birimi
Exec=title-qt %u
Terminal=false
Type=Application
Icon=title128
MimeType=x-scheme-handler/titlenetwork;
Categories=Office;Finance;
